@model IEnumerable<Quiz.Application.DTOs.UserDTO>

<h1>User list</h1>

<a class="btn btn-secondary" asp-action="Create" asp-controller="User">Create user</a>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Age</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var obj in Model)
		{
			<tr>
				<td>@obj.Id</td>
				<td>@obj.Name</td>
				<td>@obj.Age</td>
			</tr>
		}
	</tbody>
</table>