@using Quiz.Domain.Enums
@model Quiz.Application.DTOs.UserDTO

<h1>Edit user</h1>

<form method="post">
	<input asp-for="Id" type="hidden"/>
	<div class="mb-3">
		<label asp-for="Name"></label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="Age"></label>
		<input asp-for="Age" class="form-control" />
		<span asp-validation-for="Age" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="Email"></label>
		<input asp-for="Email" class="form-control" type="email" />
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="Login"></label>
		<input asp-for="Login" class="form-control" type="text" />
		<span asp-validation-for="Login" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="Perfil"></label>
		<select asp-for="Perfil" class="form-control">
			<option value="">Selecione</option>
			<option value="@PerfilEnum.Admin">Administrador</option>
			<option value="@PerfilEnum.Customer">Cliente</option>
		</select>
		<span asp-validation-for="Perfil" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="Password"></label>
		<input asp-for="Password" class="form-control" type="text" />
		<span asp-validation-for="Password" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-dark">Save changes</button>
</form>