@model Quiz.Application.DTOs.QuestionDTO

<h1>Lista de perguntas</h1>

<form method="post">
	<input asp-for="Id" hidden />
	<input asp-for="Description" hidden />
	<div class="mb-3">
		<label asp-for="Description"></label>
		<textarea asp-for="Description" class="form-control" value="@Model.Description" disabled></textarea>

	</div>
	<div class="mb-3">
		<label asp-for="Answer"></label>
		<input type="text" class="form-control" asp-for="Answer"/>

	</div>

	<button class="btn btn-secondary" onclick="displayAlert()" type="submit">Enviar</button>

</form>
