@model IEnumerable<Quiz.Application.DTOs.QuestionDTO>

<h1>Lista de perguntas</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th></th>
			<th>Tema</th>
			<th>Descrição</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var obj in Model.OrderBy(o=>o.Theme))
		{
			<tr>
				<th>
					<input disabled type="checkbox"/>
				</th>
				<th>@obj.Theme</th>
				<th>@obj.Description</th>
				<th>
					<a role="button" asp-route-id="@obj.Id" asp-action="Answer" asp-controller="Question" class="btn btn-secondary">Responder</a>
				</th>
			</tr>
		}

	</tbody>
</table>